/* reset */
* { 
  box-sizing: border-box;
  font-family: "Arial";
}

h1 {
  color: lightblue;
  text-align: center;
}

body {
  background-color: #333;
}

#board {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
}

.tile {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: white;
  border: 1px solid black;
  font-size: 2.5em;
  text-align: center;
  padding-top: 29px;
  border-radius: 10px;
}

#button-container {
  margin: auto;
  padding-top: 20px;
}

#reset-button {
  display: block;
  margin: auto;
  height: 4em;
  width: 10em;
  background: lightblue;
  border-radius: 10px; 
}

@media (max-height: 600px) {
  #board {
    width: 200px;
    height: 200px;
  }

  .tile {
    width: 50px;
    height: 50px;
    padding-top: 10px;
    font-size: 1.25em;
  }
}
